.post-lower {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}


.posts-area {
  text-align: center;
}
.post-container {
  padding: 2rem;
 width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  background-color:rgba(236, 72, 153, 0.06);

 
}
.post-media{
  height: 300px;
  width: 300px;
}
.post-upper {
  display: flex;
  justify-content: space-between;
}
.post-content{
  text-align: left;
}