.other-users {
  width: fit-content;
  padding: 2rem;
}
.each-user {
  display: flex;
  padding: 0.4rem;
  justify-content:space-between;
}
.follow-btn {
  background-color: var(--third-color);
  border: 0;
  border-radius: 20%;
  height: fit-content;
  padding: 0.9rem;
  margin: 0.4rem;
  cursor: pointer;
}
.otheruser-pills {
  text-align: left;
}
.sort-btn {
  border: 1px solid var(--primary-color);
  padding: 1rem;
  border-radius: 12px;
  margin: 2px;
}
.sort-btn:hover {
  background-color: var(--primary-color);
  color: white;
}
.sort-icon {
  font-size: x-large;
  
}

