.nav-items{
    padding: 2rem;
    text-decoration: none;
    color:var(--primary-color);
    transition: all .5s ease 0s;
}
.active{
    padding: 2rem;
    transition: all .5s ease 0s;
    background-color:var(--third-color);
    /* display: block; */
}
.logout{
    padding: 2rem;
    background-color: var(--primary-color);
    border-radius: 3px;
    color: black;
}
.logout:hover{
    background-color: var(--secondary-color);
}
@media screen and (min-width:768px) {
    .nav-items{
        display: block;
    }
    .active{
        display: flex;
    }
}