.login-container {
  display: flex;
  gap: 5rem;
  margin: 2rem;
  align-items: center;
  justify-content: center;
}

.main{
  height:100vh;
  width:50%;  
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}
h2{
  text-align:center;
  text-transform: uppercase;
  color: var(--primary-color); 
  font-size: 4rem;
}

.roller{
  height: 4.5rem;
  font-size: 2.5rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden; 
  width: 100%;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--third-color);
}


#spare-time{
  font-size: 0.95rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color:var(--secondary-color);

}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;  
}

@keyframes slide {
  0%{
    top:0;
  }
  25%{
    top: -4rem;    
  }
  50%{
    top: -8rem;
  }
  72.5%{
    top: -12.25rem;
  }
}

@media screen and (max-width: 600px){
  h2{
  text-align:center;
  text-transform: uppercase;
  color: var(--primary-color); 
  font-size: 2.125rem;
}
  
  .roller{
  height: 2.6rem; 
  line-height: 2.125rem;  
  }
  
  #spare-time {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  
  .roller #rolltext {  
  animation: slide-mob 5s infinite;  
}
  
  @keyframes slide-mob {
  0%{
    top:0;
  }
  25%{
    top: -2.125rem;    
  }
  50%{
    top: -4.25rem;
  }
  72.5%{
    top: -6.375rem;
  }
}
}

.login-card {
  background: var(--third-color);
  inset: 4px;
  padding: 3.5rem 2rem;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 1px solid var(--primary-color);
}
.auth-element {
  margin: 1rem;
}
.auth-input {
  width: 100%;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
  height: 50%;
  border: none;
  padding: 0.5rem;
  outline: none;
  box-shadow: none;
  background: transparent;
  border-bottom: 1.5px solid var(--secondary-color);
}
.auth-lable {
  font-size: 0.3rem;
  pointer-events: none;
  padding: 0.5rem;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  color: white;
}
.auth-btn {
  background-color: var(--primary-color);
  padding: 0.5rem;
  border: none;
  display: block;
  width: 90%;
  margin: 0.5rem;
  color: #fff;
  font-size: medium;
  border-radius: 12px;
}
.auth-icons{
  color: var(--secondary-color);
  font-size: x-large;
  font-weight: bolder;

}