.login-container {
  gap: 5rem;
  margin: 2rem;
  align-items: center;
}
.main {
  height: 50vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}
h2 {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-color);
}
.roller {
  height: 4.5rem;
  font-size: 2.5rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--third-color);
}
#spare-time {
  font-size: 0.95rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: var(--secondary-color);
}
.roller #rolltext {
  top: 0;
  position: absolute;
  animation: slide 5s infinite;
}
.login-card {
  background: var(--third-color);
  inset: 4px;
  padding: 3.5rem 2rem;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  margin: auto;
  flex-direction: column;
  width: fit-content;
  border: 1px solid var(--primary-color);
}
.auth-element {
  margin: 1rem;
}
.auth-input {
  width: 100%;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
  height: 50%;
  border: none;
  padding: 0.5rem;
  outline: none;
  box-shadow: none;
  background: transparent;
  border-bottom: 1.5px solid var(--secondary-color);
}
.auth-lable {
  font-size: 0.3rem;
  pointer-events: none;
  padding: 0.5rem;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  color: white;
}
.auth-btn {
  background-color: var(--primary-color);
  padding: 0.5rem;
  border: none;
  display: block;
  width: 90%;
  margin: 0.5rem;
  color: #fff;
  font-size: medium;
  border-radius: 12px;
}
.auth-icons {
  color: var(--secondary-color);
  font-size: x-large;
  font-weight: bolder;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  72.5% {
    top: -12.25rem;
  }
}

@media screen and (min-width: 768px) {
  .brand {
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 6rem;
  }
  .login-card {
    width: 90%;
  }
  .auth-btn {
    width: 60%;
    border-radius: 0;
    padding: 1rem;
    display: inline;
    height: max-content;
  }
  @keyframes slide-mob {
    0% {
      top: 0;
    }
    25% {
      top: -2.125rem;
    }
    50% {
      top: -4.25rem;
    }
    72.5% {
      top: -6.375rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .login-container {
    display: flex;
  }
  h2 {
    font-size: 10rem;
  }
  .login-card{
    width: fit-content;
  }
  .auth-btn{
    border-radius: 20px;
  }
}
