.explore-area {
  width: 100%;
}
.explore-container{
    display: flex;
    gap: 1.5rem;
    flex-direction: column-reverse;
}

@media screen and (min-width:768px) {
  .explore-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-between;
    /* background-color: aqua; */
  }
}
@media screen and (min-width:1024px) {
  .explore-container{
    display: flex;
    flex-direction: row;
    /* background-color: tomato; */
  }
}