.landing-body{
    display: flex;
    gap: 1.5rem;
    flex-direction: column-reverse;
}
.new-post {
    margin: 0.6rem;
    padding: 1rem;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }

.landing-profile{
    text-align: left;
    margin-left: 1.5rem;
}
.post-area{
    width: 100%;
}
@media screen and (min-width : 768px)  {
    .landing-body{
        display: flex;
        gap: 1.5rem;
        flex-direction: row;
        justify-content: space-between;
        /* background-color: aqua; */
    }
}
@media screen and (min-width:1024px) {
    .landing-body{
        display: flex;
        flex-direction: row;
        /* background-color: aquamarine; */
    }
}